name: Build and test

on:
  push:
    branches:
      - master
      - 'feature/**'
      - 'development/**'
    tags:
      - 'v*.*.*'

jobs:
  build:
    strategy:
      matrix:
        php: [8.2, 8.3, 8.4, 8.5]

    runs-on: ubuntu-latest
    steps:
      - name: Prepare PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run tests
        run: composer test
